h1{
    text-align: center;
}
select#MazeSelect{
    width : 200px;
}
#parent{
    position:absolute;
    z-index:0;
}
#search_selection label{
    display:block;
}
#search_selection{
    margin-bottom:50px;
}
/*
#maze_selection{
    z-index:1;
}
*/
